<%- include('../includes/head.ejs'); %>
<style>
    .container {
        margin-top: 10%;
    }
</style>
</head>

<body>

    <div class="container">
        <div class="row jumbotron   ">
            <div class="col-md-4 mx-auto">
                <p class="badge badge-success">welcome <%= user.username %> </p>
            </div>
        </div>
    </div>

    <script src="/public/vendors/jquery-3.5.0.js"></script>
    <script src="/public/vendors/bootstrap.min.js"></script>
    <script src="/public/vendors/notify.min-0.4.2.js"></script>
    <script src="/public/vendors/socket.io-2.3.0.js"></script>
    <script src="/public/scripts/main.js"></script>
</body>

</html>